<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  
  <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="Conn_CommonDB" connectionString="Data Source=192.168.1.6;Initial Catalog=QA_CommonDB;User ID=jonnis; Password=mohd@786#jonni" providerName="System.Data.EntityClient" />

    <add name="Conn_CommonDB2" connectionString="Data Source=192.168.1.6;Initial Catalog=QA_CommonDB2;User ID=jonnis; Password=mohd@786#jonni" providerName="System.Data.SqlClient" />
    <add name="Model2Db2" connectionString="data source=192.168.1.6;initial catalog=Model2Db2;user id=jonnis;password=mohd@786#jonni;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  
  </connectionStrings>
</configuration>